
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Manage Users</h3>
        </div>
        <div class="panel-body table-rep-plugin">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <button class="btn btn-success waves-effect waves-light" ng-click="showCreateAccount('lg')">Add New User <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="overflow: hidden" data-pattern="priority-columns">
                <table datatable="ng" class="table table-small-font table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                <tr ng-repeat="user in accounts">
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.Password}}</td>
                    <td>{{user.PhoneNumber}}</td>
                    <td>{{user.Email}}</td>
                    <td>
                        <a class="btn btn-warning btn-xs" ng-click="showUpdateAccount('lg',user)">Edit</a>
                        <a class="btn btn-danger btn-xs" ng-click="delete(user)">Delete</a>
                    </td>
                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div> <!-- End Row -->

