<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Manage Users</h3>
            </div>
            <div class="panel-body table-rep-plugin">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="m-b-30">
                            <button class="btn btn-success waves-effect waves-light" ng-click="showCreateAccount('lg')">Add New User <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="overflow: hidden" data-pattern="priority-columns">
                    <table datatable="ng" class="table table-small-font table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Code No.</th>
                            <th>Date</th>
                            <th>Amount ($)</th>
                            <th>Interest (I%)</th>
                            <th>Duration (Month)</th>
                            <th>Income ($)</th>
                            <th>Total Balance ($)</th>
                            <th>Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="deposit in deposits">
                            <td>{{deposit.FirstName}}</td>
                            <td>{{deposit.LastName}}</td>
                            <td>{{deposit.UserName}}</td>
                            <td>{{deposit.PhotoPath}}</td>
                            <td>{{deposit.PhoneNumber}}</td>
                            <td>{{deposit.Email}}</td>
                            <td>
                                <a class="btn btn-info btn-xs" ng-click="resetPassword(user)"> Reset Password </a>
                                <a class="btn btn-success btn-xs" style="width: 70px;" ng-click="activateAccount(user)">{{ user.IsActive == 1 ? 'Deactivate' : 'Activate' }}</a> |
                                <a class="btn btn-warning btn-xs" ng-click="showUpdateAccount('lg',user)">Edit</a>
                                <a class="btn btn-danger btn-xs" ng-click="delete(user)">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End Row -->

